tabccordion {
  top: 0;
  right: 0;
  width: $preview-panes-width;
  overflow: hidden;
  bottom: 60px;
  background: #fff;
  position: absolute;
  border-left: 1px solid $body-bg;
  display: flex;
  flex-direction: column;
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    width: $preview-panes-width-xl;
  }
}
