<site-pane class="property-pane">
  <tabs>
    <nav>
      <a (click)="display(Tabs.Sitemap)" [class.active]="isSelected(Tabs.Sitemap)">Sitemap</a>
      <a (click)="display(Tabs.Resources)" [class.active]="isSelected(Tabs.Resources)">Resources</a>
      <a (click)="display(Tabs.Properties)" [class.active]="isSelected(Tabs.Properties)">Properties</a>
    </nav>
    <tab id="sitemapTab" class="site-map" *ngIf="isSelected(Tabs.Sitemap)">
      <sitemap></sitemap>
    </tab>
    <tab id="siteResourcesTab" *ngIf="isSelected(Tabs.Resources)">Resources</tab>
    <tab id="sitePropertiesTab" *ngIf="isSelected(Tabs.Properties)">Properites</tab>
  </tabs>
</site-pane>
