

<site-pane class="property-pane">
  <header>
    <h2 class="pane-title">Site</h2>
  </header>
  <section class="pane-bd">
    <tabs>
      <tab tabTitle="Sitemap">
        <div class="site-map">
          <sitemap></sitemap>
        </div>
      </tab>
      <tab tabTitle="Resources">
        Resources content
      </tab>
      <tab tabTitle="Properties">
        Resources content
      </tab>
    </tabs>
  </section>
</site-pane>
<site-pane class="property-pane">
  <header>
    <h2 class="pane-title">Page</h2>
  </header>
  <section class="pane-bd">
    <site-pane class="property-pane">
      <header><h3 class="pane-title">Meta-data</h3></header>
    </site-pane>
    <site-pane class="property-pane">
      <header><h3 class="pane-title">Selection</h3></header>
    </site-pane>
    <site-pane class="property-pane">
      <header><h3 class="pane-title">Widgets</h3></header>
    </site-pane>
    <site-pane class="property-pane">
      <header><h3 class="pane-title">Media</h3></header>
    </site-pane>
  </section>
</site-pane>
