<accordions [multiple]="false">
  <ac-item *ngFor="let item of Items;">
    <ac-item-head>{{item.label}}</ac-item-head>
    <ac-item-body>
      <template ngFor let-content [ngForOf]="item.content">
          <tabs *ngIf="content.type=='tabs' && content.children.length > 0 ">
            <tab *ngFor="let child of content.children;" [active]="child.active" [tabTitle]="child.label">
              <render-component *ngIf="child.render" [componentName]="child.render"></render-component>
            </tab>
          </tabs>
          <list *ngIf="content.type=='list' && content.children.length > 0 ">
            <site-pane class="property-pane" *ngFor="let child of content.children;">
              <header><h3 class="pane-title">{{child.label}}</h3></header>
            </site-pane>
          </list>
      </template>
    </ac-item-body>
  </ac-item>
</accordions>



