<button class="control back-button"><i class="ion-ios-arrow-left"></i></button>
<button class="control forward-button"><i class="ion-ios-arrow-right"></i></button>
<div class="input-skin">
  <label for="page" class="site-display">{{site}}</label><input type="text" id="page" class="address-input" [(ngModel)]="page" />
  <button class="control sitemap-button"><i class="ion-ios-arrow-down" title="Open Sitemap"></i></button>
</div>
<button class="control share-button"><i class="ion-ios-upload-outline" title="Share"></i></button>
<button class="control new-tab-button"><i class="ion-ios-plus-empty" title="New Tab"></i></button>
