addressbar {
  top: 0;
  left: 0;
  right: $preview-panes-width;
  height: 50px;
  display: flex;
  background: #fff;
  padding: 9px 5px;
  flex-wrap: nowrap;
  position: absolute;
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    right: $preview-panes-width-xl;
  }
  .control {
    outline: none;
    position: relative;
    i {
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      left:0;
      font-size: 25px;
    }
  }
  .control,
  .site-display,
  input.address-input {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
  }
  .back-button,
  .forward-button,
  .share-button,
  .new-tab-button {
    flex-basis: 30px;
    margin-right: 5px;
  }
  .input-skin {
    flex-basis: 75%;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    position: relative;
    background: #e0e0e0;
    display: inline-block;
    box-shadow: inset -1px 1px 3px rgba(#333,.3);
  }
  .site-display {
    color: #575757;
  }
  input.address-input {
    width: 80%;
    border: none;
    outline: none;
  }
  .sitemap-button {
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    position: absolute;
  }
}
