app, preview, addressbar,
tabccordion, sitemap,
preview-iframe, studio-bar,
panes, site-pane, tabs, tab,
tree {
  display: block;
}

a {
  &:hover {
    text-decoration: none;
  }
}

button {
  border: 0;
  background: none;
  &, &:focus {
    outline: none;
  }
}
