$preview-panes-width: 25%;
$preview-panes-width-xl: 20%;

$body-bg: #DADADA; // #f8f8f8;
$body-color: $body-bg;

$gray:                      #55595c;
$gray-dark:                 #373a3c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

//$gray:                      #55595c;
//$gray-dark:                 darken($gray, 10%);
//$gray-light:                lighten($gray, 10%);
//$gray-lighter:              lighten($gray, 15%);
//$gray-lightest:             lighten($gray, 20%);

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$font-size-base:             1rem;
$font-size-lg:               1.25rem;
$font-size-sm:               .875rem;
$font-size-xs:               .75rem;
