@import "../../config/_settings";

.address-bar {
  top: 0;
  left: 0;
  right: $preview-panes-width;
  height: 50px;
  background: #fff;
  position: absolute;
  border-bottom: 1px solid $body-bg;
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    right: $preview-panes-width-xl;
  }
  .controls {
    display: flex;
    padding: 9px 5px;
    flex-wrap: nowrap;
  }
  .control {
    position: relative;
    border-radius: 5px;
    i {
      position: absolute;
      top:2px;
      bottom:0;
      right:0;
      left:0;
      font-size: 25px;
      &::before {
        top: 2px;
        position: relative;
      }
    }
  }
  .control,
  .site-display,
  input.address-input {
    margin: 0;
    padding: 0;
  }
  .site-display,
  input.address-input {
    border: none;
    background: transparent;
  }
  .back-button,
  .forward-button,
  .share-button,
  .new-tab-button,
  .refresh-button {
    flex-basis: 30px;
    margin-right: 5px;
  }
  .new-tab-button {

  }
  .input-skin {
    height: 33px;
    display: flex;
    flex-basis: 75%;
    margin-right: 5px;
    border-radius: 5px;
    position: relative;
    background: #e0e0e0;
    box-shadow: inset -1px 1px 3px rgba(#333,.3);
  }
  .site-display {
    padding-left: 10px;
    .icon {
      top: -10px;
      position: relative;
      .safari & {
        top: 0;
      }
    }
    .site-icon {
      width: 15px;
      margin-right: 5px;
    }
    .text {
      height: 100%;
      overflow: hidden;
      line-height: 33px;
      white-space: nowrap;
      text-overflow: ellipsis;
      .site-icon {
        top: -2px;
        margin-right: 3px;
        position: relative;
      }
    }
    .menu {
      .site-icon {

      }
    }
  }
  input.address-input {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  .sitemap-button {
    width: 30px;
    flex-basis: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:hover {
      background: $gray-light;
    }
  }
  .tab-bar {
    //display: flex;
    display: none;
    flex-wrap: nowrap;
    background-color: #fff;
    a {
      height: 30px;
      flex-grow: 1;
      display: block;
      cursor: pointer;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0 20px 0 10px;
      overflow: hidden;
      line-height: 30px;
      color: $gray-light;
      text-align: center;
      position: relative;
      border-top: 1px solid $body-bg;
      border-right: 1px solid $body-bg;
      &.active {
        cursor: default;
        background-color: lighten($body-bg, 10%);
      }
      &:last-child {
        border-right: none;
      }
      button {
        top: 0px;
        right: 0px;
        height: 30px;
        line-height: 26px;
        position: absolute;
      }
    }
  }
}
