
$brand-primary:             #304269; // #283277;
$brand-success:             #468966;
$brand-info:                #3498DB;
$brand-warning:             #F26101;
$brand-danger:              #DC3522;

$enable-flex:               true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;

$body-bg: #c9c9c9; // #f8f8f8;
$font-family-sans-serif: 'PT Sans', sans-serif;

$font-size-root: 16px;

// - - - - - - - -

$preview-panes-width: 25%;
$preview-panes-width-xl: 20%;

