.site-map {
  menu {
    margin: 0;
    padding: 0;
  }
}

.tree-view {
  &, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li ul {
    list-style: none;
    padding-left: 25px;
  }
  .item-toggler {

  }
  .item-menu-trigger {
    visibility: hidden;
  }
  .highlight-target {
    display: inline-block;
    &:hover {
      background: #f2f2f2;
      .item-menu-trigger {
        visibility: visible;
      }
    }
  }
}
